.contact {
    position: relative;
    background-color: #FFECE2;
    overflow: hidden;
}
.contact .bgimg{
    width: 100%;
    height: 100%;
}
.contact .bgimg img{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
}
.contact .container_self{
    position: relative;
    z-index: 200;
}
.contact .item_group .item {
    display: flex;
    height: 100%;
    align-items: center;
    margin-bottom: 26px;
}

.contact .item_group .item .pic {
    width: 50%;
    height: 400px;
}
.contact .item_group .item .pic img{
    width: 100%;
}
.contact .item_group .item .txt {
    width: 50%;
    padding: 0 50px;
}

.contact .item_group .item .txt span {
    color: #A5672F;
}

.contact .item_group .item .txt .name {
    width: 100%;
    display: inline-block;
    font-weight: bold;
    position: relative;
}

.contact .item_group .item .txt .name::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #F6921E;
    bottom: -10px;
    left: 0;
}

.contact .item_group .item .txt p {
    margin-top: 20px;
    font-size: 24px;
}

.contact .item_group .item .txt p span:nth-child(1) {
    margin-right: 20px;
}
@media (max-width:768px){
    .contact .item_group .item .txt .name{
        text-align: center;
    }
    .contact .item_group .item .pic{
        margin-bottom: 20px;
    }
    .contact .item_group .item .pic ,
    .contact .item_group .item .txt{
        width: 70%;
    }
    .contact .item_group .item {
        flex-direction: column;
    }
}
@media (max-width:555px){ 
    .contact .item_group .item .pic ,
    .contact .item_group .item .txt{
        width: 100%;
        padding: 0 20px;
    }

}