footer {
    background-color: #C86625;
    padding: 80px 0;
}

footer .item {
    display: flex;
    justify-content: center;
}

footer .item .pic {
    width: 165px;
    height: 165px;
    margin-right: 68px;
}

footer .item .pic img {
    width: 100%;
    height: 100%;
}

footer .item .txt {
    display: flex;
    flex-direction: column;

}

footer .item .txt p:nth-child(1),
footer .item .txt p:nth-child(2) {
    margin-bottom: 20px;
}

footer .item .txt p span:nth-child(1) {
    margin-right: 35px;
}

footer .item .txt p .p_18px_13px {
    padding: 13px 13px;
    background-color: #fff;
    border-radius: 15px;
}
footer .item .txt p:nth-child(2) span:nth-child(2){
    letter-spacing: 4px;
}

footer .item .txt p:nth-child(1) span:nth-child(2),
footer .item .txt p:nth-child(2) span:nth-child(1){
    letter-spacing: 6px;
}

@media (max-width:1024px){
    footer .item .txt{
        font-size: 16px;
    }
    footer .item .txt p:nth-child(2) span:nth-child(2){
        letter-spacing: 0;
    }
}
@media (max-width:868px){
    footer .item .pic {
        margin-right: 30px;
    }
    footer .item .txt p span:nth-child(1){
        font-size: 24px;
    }
    footer .item .txt p span:nth-child(2),
    footer .item .txt p:nth-child(3) span:nth-child(1){
        font-size: 18px;
    }
    footer .item .txt p:nth-child(2) span:nth-child(1){
        letter-spacing: 4px;
    }
}
@media (max-width:768px){
    footer .item{
      
        flex-direction: column;
        align-items: center;
    }
    footer .item .pic {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    footer .item .txt p:nth-child(3){
        text-align: center;
    }
}
@media (max-width:464px){
    footer .item .txt p span:nth-child(1) {
        margin-right: 15px;
    }
    footer .item .txt p span:nth-child(1){
       display: block;
       text-align: center;
       /* margin-bottom: 20px; */
    }

    footer .item .txt p span:nth-child(2){
        display: block;
        text-align: center;
     }
}