.products {
    width: 100%;
    background-color: rgb(238, 195, 160);
    overflow: hidden;
}
.products img{
    width: 100%;
    
}
.products .products_block {
    width: 100%;
    height: auto;
    background-color: rgb(238, 195, 160);
    position: absolute;
    z-index: 500;
    overflow-x: hidden;
   

    padding: 0px 15px 100px 15px;
    left: -100%;
    transition-duration: .5s;
}

.products .products_block.active {
    left: 10px;

}
.products .products_block .item_group{
    width: 100%;   
    max-width: 1440px;
    margin: auto;
}
.products .item_group {
    padding-top: 26px;
}


.products .item_group .item {
    display: flex;
    align-items: center;
    width: 100%;

    
}

.products .item_group .item .txt {
    padding: 0 70px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(200px);
    transition-duration: .5s;
    z-index: 200;
}

@media (max-width:1024px){
    .products .item_group .item .txt {
        padding: 0 35px;
    }
}
.products .item_group .item .pic,
.products .item_group .item .txt {
    width: 100%;
}
.products .item_group .item .pic {  
    box-shadow: 0px 0px 3px 2px rgba(41, 40, 40, 0.3);
}
.products .item_group .item:nth-child(odd) .pic {
    opacity: 0;
    transform: translateX(-200px);
    transition-duration: .5s;
}
.products .products_block .item_group .item:nth-child(even) .pic,
.products .products_block .item_group .item:nth-child(odd) .pic{    
    opacity: 1;
    transform: translateX(0);
}
.products .products_block .item_group .item .txt{
    opacity: 1;
    transform: translateX(0);
}
.products .item_group .item:nth-child(even) .pic {
    opacity: 0;
    transform: translateX(200px);
    transition-duration: .5s;
}

.products .item_group .item .pic.active {
    opacity: 1;
    transform: translateX(0);
}

.products .item_group .item .pic:nth-child(odd) img:nth-child(1){
    width: 50%;
    position:absolute; 
    transform: translate(-35% , -30%); 
    z-index: -1;
}
.products .item_group .item .pic:nth-child(even) img:nth-child(1){
    width: 50%;
    position:absolute; 
    transform: translate(135% , -30%); 
    z-index: -1;
}
.products .item_group .item .txt.active {
    opacity: 1;
    transform: translateY(0);
}

.products .item_group .item .txt .title_span {
    font-weight: bold;
    margin-bottom: 20px;
}

.products .products_button {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.products .products_button span {
    background-color: #C96625;
    padding: 15px 36px;
    border-radius: 15px;
    color: #FFE9CC;
}

.products .products_button span:hover  {
    cursor: pointer;
    background-color: #FFE9CC;
    color: #C96625;

}
@media (max-width:868px){
    .products .item_group .item{
        flex-direction: column;
    }
    .products .item_group .item .pic,
    .products .item_group .item .txt {
        width: 80%;
        margin-bottom: 30px;
    }
   
    .products .item_group .item:nth-child(even) .txt{
        order: 1;
    }
    .products .item_group .item .txt .title_span{
        text-align: center;
    }

    .products .item_group .item:nth-child(even) .pic {
        transform: translateX(-200px);
        transition-duration: .5s;
    }
    .products .item_group .item:nth-child(even) .pic.active {
        transform: translateX(0);
    }
    .products .item_group .item .txt {
        transform: translateY(0px);
        transform: translateX(200px);
    }
    .products .item_group .item .txt.active {
        transform: translateX(0);
    }
}
@media (max-width:444px){
    .products .item_group .item:nth-child(1) .txt p span:nth-child(2){
        display: block;
        margin-bottom: 0;
    }
}