* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: '微軟正黑體';
    text-decoration: none;
}

.container_self {
    max-width: 1440px;
    padding: 0 15px;
    margin: auto;
}



.fz_50px {
    font-size: 50px;
}

.fz_35px {
    font-size: 35px;
}

.fz_24px {
    font-size: 24px;
}

.fz_22px {
    font-size: 22px;
}

.fz_18px {
    font-size: 18px;
}

.m_bottom20 {
    margin-bottom: 20px;
}

.p_top_bottom_100 {
    padding: 100px 0;
}
.d_block {
    display: block;
}
.content .title {
    text-align: center;
    font-weight: bold;
    position: relative;
}

.content .title::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #F6921E;
    bottom: 0;
    left: 0;
}

.color_white{
    color: #fff;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    z-index: 700;
    display: none;
    justify-content: center;
    align-items: center;
}

.mask .suggest_msg_block {
    width: 50%;
    /* height: 50%; */
    position: fixed;
    background-color: #E99C59;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-radius: 10px;
    padding: 30px;
}
.mask .suggest_msg_block .suggest_content label {
    font-size: 24px;
    float: left;
    margin-right: 20px;
}

.submit,
.cancle {
    margin-top: 50px;
    padding: 10px 22px;
    background-color: #C86625;
    border-radius: 20px;
    color: #FFE8CB;
    z-index: 2000px;
}

.mask .thanks_block {
    background-color: #E99C59;
    position: fixed;
    display: flex;
    left: -100%;
    width: 70%;
    height: 220px;
    justify-content: center;
    border-radius: 10px;
    transition-duration: .3s;
    padding: 20px;
}

.mask .thanks_block.active {
    left: 15%;
    opacity: 1; 
}

.mask .thanks_block .txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.mask .thanks_block .pic{
    /* width: 50%; */
    margin-right: 20px;
    height: 100%;
}
.mask .thanks_block .pic img {
    /* width: 50%; */
    height: 100%;
}

.mask .thanks_block .close_btn {
    background-color: #C96625;
    padding: 15px 36px;
    border-radius: 15px;
    color: #FFE9CC;
}
@media (max-width:676px){
    .mask button {
   
        width: 100%;
      
    }  
    .mask .thanks_block {
        padding: 30px;
    }
    .mask .suggest_msg_block {
        width: 80%;
    }
    
    .mask .suggest_msg_block .suggest_content p{
        text-align: center;
    }
}
@media (max-width:396px){ 
    
    .mask .suggest_msg_block .suggest_content label {
        width: 100%;
        display: block;
    }
}