.suggest {
    position: relative;
    background-color: #EA9D59;
}

.content .suggest .title::after {
    content: '';
    background: #fff;
}

.content .suggest .item_group {
    /* display: flex;
    justify-content: space-around; */
    /* 
     */
    overflow-x: hidden;
    white-space: nowrap;
    margin-bottom: 100px;

}

.content .suggest .item_group .item {
    width: 30%;
    display: inline-flex;
    flex-direction: column;
    margin-right: 3%;
}

.content .suggest .item_group .item .pic {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.content .suggest .item_group .item .pic img {
    width: 40%;
}

.content .suggest .item_group .item .txt {
    white-space: normal
}

.content .suggest .item_group .item .txt .suggest_name {
    margin-bottom: 25px;
    text-align: center;
}

.content .suggest .item_group .item .txt .suggest_name span {
    font-size: 24px;
    font-weight: bold;


}

.content .suggest .item_group .item .txt .suggest_content {
    background-color: #FFE0B6;
    padding: 32px;
    border-radius: 15px;
}

.content .suggest .item_group .item .txt .suggest_content span {
    font-size: 18px;
}

.suggest .msg_btn {
    width: 100%;
    text-align: center;

}


.suggest .msg_btn .msg {
    background-color: #C96625;
    padding: 15px 36px;
    border-radius: 15px;
    color: #FFE9CC;
}

.suggest .msg_btn .msg:hover {
    cursor: pointer;
    background-color: #FFE9CC;
    color: #C96625;

}


@media (max-width:868px){
    .content .suggest .item_group .item {
        width: 50%;
        margin-right: 0;
        padding: 0 20px;
    }
    .content .suggest .item_group .item .pic img {
        width: 35%;
    }
}
@media (max-width:554px){
    .content .suggest .item_group .item {
        width: 100%;
    }
   
    .content .suggest .item_group .item .pic img {
        width: 30%;
    }
}