@charset "UTF-8";
*{
	font-family: 'Helvetica', sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	list-style: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}

html,
body {
	width: 100%;
	height: 100%;
	color: #1D1A31;
	touch-action: manipulation;
	font-size: 15px;
}

*:hover,
*:focus,
*:active {
	outline: 0;
	-moz-outline: none;
	-webkit-tap-highlight-color: transparent;
}

a,
a:hover {
	text-decoration: none;
	color: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
}

input[type=number] {
	-moz-appearance: textfield;
}

input[type="password"]::-webkit-textfield-decoration-container {
	visibility: hidden;
}

input,
button,
select,
textarea {
	font-family: 'Helvetica', sans-serif;
	padding: 0;
	border: 0;
	background-color: transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	resize: none;
	font-size: 15px;
}

input::-ms-clear,
input::-ms-reveal,
select::-ms-expand{
	display: none;
}
.nofloat:after {
	content: '';
	display: table;
	clear: both;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

tt {
	font-family: 'Helvetica', sans-serif;
}




@media only screen and (min-device-width: 1025px) {
	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: #f1f1f1;
	}

	::-webkit-scrollbar-thumb {
		background-color: #c1c1c1;
		border: 1px #f1f1f1 solid;
		border-radius: 3px;
		cursor: pointer;
		-webkit-transition: background .5s linear;
		transition: background .5s linear;
	}

	*:hover::-webkit-scrollbar-thumb {
		background-color: #a9a9a9;
	}

	::-webkit-scrollbar-corner {
		background-color: #f1f1f1;
	}
}


/*架構區*/
.outside {
	width: 100%;
	height: 100%;
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

.ma_all {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.ma_all iframe{
	width: 100%;
	height: 100%;
}
.main_rotate {
	height: 100.1%;
}

/*解決ios12網址+功能列消失 高度出錯及fixed物件原地不動問題*/
.ma_header {
	width: 100%;
	height: 60px;
	background: linear-gradient(175deg, #F264B2 9%, #3E3981 90%);
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .25);
	z-index: 8;
}

.ma_main {
	position: relative;
	width: 100%;
	height: calc(100% - 60px);
	background-color: #f2f2f2;
}

.ma_main>div:not(.ma_loading){
	width: auto;
	height: 100%;
	overflow: visible;
}
.ma_plug{background-color: transparent;}
.ma_right {
	position: fixed;
	width: 300px;
	height: 100%;
	background: linear-gradient(to bottom, #F83030 0%, #FF9417 93.23%, #FFBB36 100%);
	box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0);
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	top: 0;
	right: 0;
	z-index: 10;
}

.ma_right.ma_extend {
	box-shadow: -2px 0 4px 0 rgba(0, 0, 0, .2);
	-webkit-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.ma_alert {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 9;
}
.ma_alert._for_cashcard{
	height: calc(100% - 60px);
    top: 60px;
}/*現金卡開卡視窗專用 程式需開三層iframe*/
.ma_loading{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	top: 0;
	right: 0;
	z-index: 7;
}
.lds_main {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.lds_spinner {
	position: relative;
	height: 20px;
	width: 250px;
}
.lds_spinner div{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #3E3981;
	position: absolute;
	border: 2px solid white;
	animation-name: loader;
	animation-timing-function: ease-in-out;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}


.lds_spinner div:nth-child(1) {
	animation-delay: 0.5s;
}

.lds_spinner div:nth-child(2) {
	animation-delay: 0.4s;
}

.lds_spinner div:nth-child(3) {
	animation-delay: 0.3s;
}

.lds_spinner div:nth-child(4) {
	animation-delay: 0.2s;
}

.lds_spinner div:nth-child(5) {
	animation-delay: 0.1s;
}

.lds_spinner div:nth-child(6) {
	animation-delay: 0s;
}

.lds_txt {
	left: 0;
	right: 0;
	width: 4rem;
	margin-top: 20px;
}
.lds_txt:after {
	content: "Loading";
	font-weight: bold;
	animation-name: loading-text;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	color: #3E3981;
	font-size: 18px;
}


@keyframes loader {
	15% {
	  transform: translateX(0);
	}
	45% {
	  transform: translateX(230px);
	}
	65% {
	  transform: translateX(230px);
	}
	95% {
	  transform: translateX(0);
	}
}
@keyframes loading-text {
	0% {
	  content: "Loading";
	}
	25% {
	  content: "Loading.";
	}
	50% {
	  content: "Loading..";
	}
	75% {
	  content: "Loading...";
	}
}


.ma_onepage {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width:1023px) {
	.ma_content {
		width: 100%;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
	}
}

/*橫板若有兩個以上的分頁 將會擋住表單無法滑至底*/
@media only screen and (orientation:landscape) and (max-width:812px) {
	.ma_content>div {
		padding-bottom: 96px;
	}
}